<div class="card">
	<div class="card-body">
		<h3 class="card-title"><%= @article.title %></h3>
		<h4 class="card-subtitle"><%= @article.author %></h4>
		<p class="card-text">
			<%= @article.text %>
		</p>

		<h4>Comments</h4>
		<%= render @article.comments %>

		<h4>Add a comment:</h4>
		<%= render 'comments/form' %>

		<%= link_to 'Edit', edit_article_path(@article), class:"btn btn-secondary" %>
		<%= link_to 'Back', articles_path, class:"btn btn-dark" %>
	</div>

	<h1>Shivam Srivastava</h1>
</div>